In [1]:
import pandas as pd

In [2]:
import os
os.getcwd()

'C:\\Users\\Work\\Desktop\\github\\CodeLou\\PythonDataAnalysis'

In [3]:
df = pd.read_excel(r"C:\Users\Work\Downloads\FSIS-Recall-Summary-2014.xlsx")

In [4]:
df.sample(5)

,CY 2014 Recalls,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
7,2014-01-27 00:00:00,007-2014,II,Frozen Chicken Products,Undeclared Allergen,1250000
74,2014-10-25 00:00:00,074-2014,I,Chicken Products,Other,31689
38,2014-06-21 00:00:00,038-2014,I,Pork Mini Buns Products,Undeclared Allergen,332
43,2014-07-03 00:00:00,043-2014,I,Beef Products,Extraneous Material,75465
22,2014-04-17 00:00:00,022-2014,II,Salami Type Products,Other,5723